:root{
    font-size: 16px;
}
body{
    background-color: #F1FAEE;
    display: grid;
    margin: 0;
    padding: 0;
    place-items: center;
    height: 100vh;
    width: 100vw;
    grid-template-rows: auto 1fr auto;
}
header{
    background-color: #1D3557;
    font-family: "Press Start 2P";
    display: grid;
    place-items: center;
    text-align: center;
    width: 100vw;
}

header h1{
    color: #E63946;
}
#scoreBoard{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    place-items: center;
    font-family: 'Press Start 2P';
    margin-top: 25px;
    width: min(90vw,600px);
    font-size: clamp(1rem, 2vw + .5rem, 1.5rem);
}

.player,
.round,
.cpu{
    display: grid;
    place-items: center;
    margin: 0;
    color: #F1FAEE;
    border: outset 5px;
    margin: 0px 10px;
    grid-row: 1;
    width: 80%;
    font-size: .8em;
}

.player{
    background-color: #E63946;
    border-color: #E63946;
    grid-column: 1;
}

.cpu{
    background-color: #457B9D;
    border-color: #457B9D;
    grid-column: 3;
}
.round{
    background-color: #A8DADC;
    border-color: #A8DADC;
    grid-column: 2;
}

.numbersFont{
    font-family: 'Black Ops One';
    font-size: 4em;
    margin: 0px;
    color: #F1FAEE;
}

.lightText{
    color: #F1FAEE;
}

.scoreBoardFont{
    margin: 15px 0px 0px 0px;
}

#gameCourt{
    display: grid;
    width: min(90vw,600px);
    place-items: center;
}

.gamerText{
    align-self: center;
    font-family: 'Press Start 2P';
    font-size: 1rem;
    color: #1D3557;
    text-align: center;
    margin: 5px;
}

.gameDisplay{
    height: 200px;
    display: grid;
    width: min(90vw,600px);
    place-items: center;
    grid-row: 1;
}
 #gameCourt > p{
    width: auto;
 }


.gameDisplay1{
    display: grid;
    flex-direction: column;
    place-items: center;
    width: 100%;
    font-size: 20px;
    height: auto;
    margin: 0;
    grid-row: 2;
}
.buttonsContainer{
    grid-row: 3;
    display: grid;
    grid: auto / repeat(3, 1FR) ;
    place-items: center;
    width: 100%;
}

.emojiButton{
    font-size: calc(1vw + 5rem);
    padding: 20px 0px;
    background-color: #F1FAEE;
    border-radius: 8px;
    border: 0px;
}

.emojis{
    font-size: calc(1vw + 5rem);
    margin: 0px;
}

footer{
    background-color: #1D3557;
    display: grid;
    place-items: center;
    color: #F1FAEE;
    font-family: 'Press Start 2P';
    margin-top: 20px;
    width: 100vw;
    text-align: center;
    font-size: .8rem;
}

footer a{
    color: #F1FAEE;
}

.finalScore{
    display: grid;
    width: min(90vw,600px);
    place-items: center;
}

.finalScore button{
    font-family: 'Press Start 2P';
    font-size: 24px;
    color: #F1FAEE;
    background-color: #1D3557;
    padding: 15px;
    border: outset 10px;
    border-color: #1D3557;
    width: 13em;
}

#theWinner{
    font-size: 36px;
    margin: 100px 0px;
}