body{
    background-color: #F1FAEE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.header{
background-color: #1D3557;
font-family: "Press Start 2P";
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.header h1{
    color: #E63946;
}
#scoreBoard{
    display: flex;
    font-family: 'Press Start 2P';
    margin: 25px 0px;
    width: 600px;
    align-self: center;
    justify-content: center;
}

.player,
.round,
.cpu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    font-size: 20px;
    height: auto;
    margin: 0;
    color: #F1FAEE;
    border: outset 5px;
    margin: 0px 10px;

}

.player{
    background-color: #E63946;
    border-color: #E63946;
}

.cpu{
    background-color: #457B9D;
    border-color: #457B9D;

}
.round{
    background-color: #A8DADC;
    border-color: #A8DADC;

}

.numbersFont{
    font-family: 'Black Ops One';
    font-size: 70px;
    margin: 0px;
    color: #F1FAEE;

}

.lightText{
    color: #F1FAEE;
}

.scoreBoardFont{
    margin: 15px 0px 0px 0px;
}

#gameCourt{
    display: flex;
    flex-direction: column;
}

.gamerText{
    align-self: center;
    font-family: 'Press Start 2P';
    font-size: 24px;
    color: #1D3557;
    text-align: center;
    margin: 5px;
}

.gameDisplay{
    height: 200px;
    display: flex;
    margin: 25px 0px;
    width: 700px;
    align-self: center;
    justify-content: center;
}

.gameDisplay1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    font-size: 20px;
    height: auto;
    margin: 0;
}
.buttonsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.emojiButton{
    font-size: 100px;
    padding: 20px 0px;
    width: 250px;
    background-color: #F1FAEE;
    border-radius: 8px;
    border: 0px;
}

.emojis{
    font-size: 100px;
    margin: 0px;
}

.footer{
    background-color: #1D3557;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F1FAEE;
    font-family: 'Press Start 2P';
    margin-top: 20px;
}

.footer a{
    color: #F1FAEE;
}

.finalScore{
    display: flex;
    flex-direction: column;
    width: 800px;
    align-items: center;
    align-self: center;
}

.finalScore button{
font-family: 'Press Start 2P';
font-size: 24px;
color: #F1FAEE;
background-color: #1D3557;
padding: 20px;
border: outset 10px;
border-color: #1D3557;
    
}
